useDynLib(tsissm, .registration = TRUE)
import("methods")
import("tsmethods")
import("data.table")
importFrom("utils", "head","tail","data","txtProgressBar","setTxtProgressBar")
importFrom("stats", "lm", "optimize", "qnorm", "rnorm", "runif", "sd","var","Box.test", "acf", "na.pass", "pchisq", "pgamma", "qqline", "qqnorm","simulate")
importFrom("tsaux","future_dates","sampling_frequency","box_cox","mape","mase","mslre","mis","bias","crps")
importFrom("stats","median","na.omit","fitted","coef","quantile","residuals","predict","optim","nlminb","logLik","cov","cor","cov2cor","pnorm")
importFrom("graphics","grid", "legend", "lines", "par", "plot","points","abline","axis", "axis.Date", "axis.POSIXct",
           "box", "polygon","layout","mtext","title","hist")
importFrom("grDevices", "gray","colorRampPalette","n2mfrow")
importFrom("zoo","index","as.zoo","zoo","coredata","na.locf")
importFrom("Rsolnp","solnp")
importFrom("knitr","kable")
importFrom("tsissmad","estimate_ad.tsissm.spec")
importFrom("xts","xts","as.xts","is.xts","endpoints")
importFrom("EnvStats", "rosnerTest")
importFrom("doSNOW","registerDoSNOW")
importFrom("parallel","makeCluster","stopCluster")
importFrom("foreach","foreach","%dopar%")
importFrom("viridis","viridis_pal")
importFrom(Rcpp,evalCpp)
importFrom(Rcpp,loadModule)
export("issm_modelspec")
S3method("estimate","tsissm.spec")
S3method("tsbenchmark", "tsissm.spec")
S3method("tsbacktest","tsissm.spec")
S3method("coef","tsissm.estimate")
S3method("AIC","tsissm.estimate")
S3method("logLik","tsissm.estimate")
S3method("residuals","tsissm.estimate")
S3method("fitted","tsissm.estimate")
S3method("tsdecompose","tsissm.estimate")
S3method("tsdecompose","tsissm.predict")
S3method("tsmetrics","tsissm.estimate")
S3method("tsmetrics","tsissm.predict")
S3method("tsdiagnose","tsissm.estimate")
S3method("tsspec", "tsissm.estimate")
S3method("tsprofile", "tsissm.estimate")
S3method("simulate","tsissm.estimate")
S3method("tsfilter","tsissm.estimate")
S3method("summary","tsissm.estimate")
S3method("predict","tsissm.estimate")
S3method("plot","tsissm.estimate")
S3method("plot","tsissm.simulate")
S3method("plot","tsissm.profile")